#contact {
    margin: 0;
}

.contact-info-container {
    display: flex;
    width: 60%;
    justify-content: space-between;
}

.contact-info {
    display: flex;
    flex-direction: column;
    width: 200px;
    align-items: center;
}

.contact-info a {
    height: 50px;
}

.contact-info p {
    margin: 10px;
    font-size: 20px;
}
